.testim {
		width: 100%;
		padding-bottom: 60px;
}

.testim .wrap {
    position: relative;
    width: 94%;
    padding: 40px 0px 0px 0px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}
    

.testim .arrow.left {
    left: 10px; display: none;
}

.testim .arrow.right {
    right: 10px; display: none;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 0;
    display: block;
    z-index: 888;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #006cb4;
    border-color: #006cb4;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
   
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 0; 
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    .testim .cont > div.active0{background: url(https://www.mysortimo.com/medias/sr5-first-customer-schneider-quote-hintergrund.jpg?context=bWFzdGVyfHJvb3R8MzAxMDM0fGltYWdlL2pwZWd8aDIxL2gwZi85MjkzMTg2MjM2NDQ2LmpwZ3w3NDhmODZkMTY0Y2NlNTEzMmQ3ZGZhNmRiMmQwYTY0YWMzNzAyZmU4OWE2MmI4NWIyYTI2ZTQxMDM4NmM4ZTli); background-size: cover; background-position: center;}
     .testim .cont > div.active1{background: url(https://www.mysortimo.com/medias/workmo-quote-hintergrund.jpg?context=bWFzdGVyfHJvb3R8NzUwNzZ8aW1hZ2UvanBlZ3xoOGMvaGZmLzkwMjM4Mjc4MzY5NTguanBnfDkyMzdlOWZiMDZhNDQwMjM0Y2NjZTAzM2JkYTU3Y2RjYWNlYzI4YzIzMTBlZWEyYmY2YjE5ZTkzMzhlMmY1ZDA);background-size: cover; background-position: center;}
      .testim .cont > div.active2{background: url(https://www.mysortimo.com/medias/sr5-konfigurator-quote-hintergrund-UK.jpg?context=bWFzdGVyfHJvb3R8MzAwNzQyfGltYWdlL2pwZWd8aDRiL2g1ZS85Nzk3NjM5ODk3MTE4LmpwZ3w1MGI0MDM0ZTE5YzIwMDlkYjU3MWVmY2FiM2FkMzYyYWExMzBlMWNhYzRmNzJkZTQ1MWRkYzc5YjQ4MzEwMjFk);background-size: cover; background-position: center;}

.testim .cont .overlay{background: rgba(30, 36, 47, 0.75); padding: 150px 60px 200px 60px}

.testim .cont .overlay .quote-sign-container{display: inline-flex; margin-top: 10px;}

.testim .cont .overlay .img{ font-size: 26px; color: #fff;}


.testim .cont div .img img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #fff;
    font-size: 3em;
    margin: 15px 0;margin-top: 30px;
}

.testim .cont div p {
    font-size: 1.8em;
    color: #eee;
    width: 90%;
    margin: auto;    line-height: 34px;font-family: "Roboto Condensed";
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #006cb4;        
        box-shadow: 0px 0px 10px 5px #006cb4;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #006cb4;        
        box-shadow: 0px 0px 0px 0px #006cb4;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #006cb4;        
        box-shadow: 0px 0px 10px 5px #006cb4;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #006cb4;        
        box-shadow: 0px 0px 0px 0px #006cb4;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #006cb4;        
        box-shadow: 0px 0px 10px 5px #006cb4;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #006cb4;        
        box-shadow: 0px 0px 0px 0px #006cb4;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #006cb4;        
        box-shadow: 0px 0px 10px 5px #006cb4;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #006cb4;        
        box-shadow: 0px 0px 0px 0px #006cb4;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #006cb4;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #006cb4;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}







@media only screen and (min-width : 1366px) and (max-width : 1439px){

.testim .cont .overlay{padding: 70px 60px 160px 60px;
}

}





@media only screen and (min-width : 1200px) and (max-width : 1365px){

.testim .wrap{padding: 0px 0px 0px 0px;}
.testim .cont .overlay{padding: 100px 60px 150px 60px;}
}

@media only screen and (min-width : 1024px) and (max-width : 1199px){

.testim .wrap{padding: 0px 0px 0px 0px;}

.testim{padding-bottom: 30px}

.testim .cont .overlay{padding: 70px 60px 100px 60px}
.testim .dots{bottom: 30px;}



}


@media only screen and (min-width : 768px) and (max-width :1023px){
.testim .wrap{padding: 0px 12px 0px 12px;}
.testim .cont .overlay{padding: 60px 60px 80px 60px;}
.testim .dots{bottom: 30px; padding-left: 0px;}
.testim .cont .overlay .quote-sign-container{display: block;}
.quote-sign-after{margin-top: 20px!important;}

}


@media only screen and (min-width : 150px) and (max-width : 767px){
.testim .wrap{padding: 0px 12px 0px 12px;}
.testim .cont .overlay{padding: 50px 10px 50px 10px}

.testim .cont .overlay .quote-sign-container {display: block;}
.testim .cont .overlay .quote-sign-container svg{width: 60px; width: 90%;}
 
.testim .dots{bottom: 25px;}
.testim .dots{width: 90%;}

.testim{width: 100%;  padding-bottom: 30px;}
#feeds {padding-top: 15px; padding-bottom: 15px;}






.testim .cont div h2{font-size: 1.8em}
.testim .cont div p{ font-size: 1em }
.testim .cont .overlay .quote-sign-container svg{width: 20%;height :20%;}

.quote-sign-after{margin-top: 20px!important;}

}

@media only screen and (max-width : 415px){
.quote-sign-after{margin-top: 20px!important;}

}
@media only screen and (max-width : 375px){

}

@media only screen and (max-width : 320px){


.testim .cont div h2{font-size: 1.8em}
.testim .cont div p{ font-size: 1em }
.testim .cont .overlay .quote-sign-container svg{width: 20%;height :20%;}


}


