 

.title {
  text-align: center;
  text-transform: uppercase;
}

.video {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}

.popup-btn, .close-btn {
  width: 100px;
  display: block;
  margin: 0px auto;
  cursor: pointer;
  border: 2px solid black;
  height: 50px;
}

.popup-btn:hover {
  color: white;
  background-color: black;
}

.video-popup {
  display: none;
  width: 0;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
}

/* .popup-bg {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
} */

.popup-content {
  background: black;
    /* position: absolute; */
    /* top: 0%; */
    /* left: 50%; */
    transform: translate(35%, -104%);
    width: 800px;
    height: auto;
}

.popup-title {
  padding: 30px;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}





/*mobile*/
@media only screen and (min-width : 1200px) and (max-width : 1366px)
{

  .popup-content {
    background: black;
    position: absolute;
    bottom: 0;
    left: -432px;
    width: 800px;
    height: auto;
    margin: 0 auto;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    left: 31%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 380px;
}

}

/*mobile*/
@media only screen and (min-width : 1024px) and (max-width : 1199px)
{

  .popup-content {
    background: black;
    position: absolute;
    bottom: 0;
    left: -432px;
    width: 800px;
    height: auto;
    margin: 0 auto;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 27%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 130px;
}

}

/*mobile*/
@media only screen and (min-width : 768px) and (max-width : 1023px)
{

  .popup-content {
    background: black;
    position: absolute;
    bottom: 590px;
    left: -292px;
    width: 640px;
    height: auto;
    margin: 0 auto;
  }

}
/*mobile*/
@media only screen and (min-width : 150px) and (max-width : 767px)
{

  .popup-content {
    background: black;
    position: absolute;
    bottom: 200px;
    left: -158px;
    width: 340px;
    height: auto;
  }
  .popup-content iframe
   {
     
    height: 350px;
  }

}
